<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <center>Favoritos</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-slides [options]="slideOpts" *ngIf="datalocalService.noticias.length === 0">
    <ion-slide>
      <ion-label>No tienes noticias en favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="datalocalService.noticias.length > 0" [enFavoritos]="true"
                [noticias]="datalocalService.noticias"></app-noticias>

</ion-content>
